<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>2K Filmes</title>

	<link rel="stylesheet" type="text/css" href="css/webquantica-grid.css">
	<link rel="stylesheet" type="text/css" href="css/lity.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="mobile.css">
	<link rel="stylesheet" href="css/lity.min.css">
	<link rel="stylesheet" href="css/empresa.css">
	
	
	<script src="js/jquery.js"></script>
	<script src="js/webquantica-grid.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/carousel.js"></script>
	<script src="js/lity.min.js"></script>
	<script src="js/efeitos.js"></script>
	
</head>
	<body>

	<header class="wq-header wq-header_horizontal">
		<div class="wq-header_bottom">
			<div class="wq-container">
				<div class="wq-flex">
					<div class="wq-menu">
						<div class="wq-btn_menu">
							<hr>
							<hr>
							<hr>
						</div>
						<nav class="wq-menu_principal">
							<ul class="wq-lista-inline">
								<li><a href="index.html">Home</a></li>
								<li class="active"><a href="empresa.html">Sobre</a></li>
								<li><a href="oque-fazemos.html">O que fazemos</a></li>
								<li><a href="trabalhos.html">trabalhos</a></li>
								<li><a href="contato.html">Contato</a></li>
							</ul>
						</nav>
					</div>
					<ul class="wq-midias-sociais wq-lista-inline">
						<li>
							<a href="" target="_blank"><figure><img title="" src="img/vimeo.svg" alt=""></figure></a>
						</li>
						<li>
							<a href="" target="_blank"><figure><img title="" src="img/instagram.svg" alt=""></figure></a>
						</li>
						<li>
							<a href="" target="_blank"><figure><img title="" src="img/facebook.svg" alt=""></figure></a>
						</li>
						<li>
							<a href="" target="_blank"><figure><img title="" src="img/youtube.svg" alt=""></figure></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</header>

	<section class="wq-breadcrumb">
		<div class="wq-container">
			<h1>Sobre Nos</h1>
			<ul>
				<li>Home</li>
				<li><a href="">Sobre nós</a></li>

			</ul>
		</div>
	</section>

	<section class="wq-01 wq-01-sobre">
		<div class="wq-container">
			<div class="wq-texto">
				<h2 class="wq-titulo_1">SOBRE NÓS</h2>
				<p>Somos uma produtora de filmes publicitários e conteúdo para mídias diversas com atuação no mercado goiano desde 2011. Realizamos produções para grandes marcas e agências de publicidade. Nosso pensamento é que além de boas ideias, temos que ter também boas ferramentas de trabalho, por isso investimos muito em equipamentos de ponta de captação e finalização. </p>
			</div>
		</div>
	</section>

	

	<section class="wq-01-empresa">
		<div class="wq-container">
			<h3 class="wq-titulo_1">equipe</h3>
			<div class="wq-flex">
				<div class="wq-box_3 wq-box_cp-12f wq-box_cl-6 wq-box_tp-6">
					<div class="wq-padding">
						<figure><img title="" src="img/equipe.jpg" alt="" title=""></figure>
					</div>
					<div class="wq-conteudo">
						<h3>Guilherme Borges</h3>
						<p>Diretor</p>
						<ul class="wq-lista-inline wq-midias-sociais">
							<li><a href=""><figure><img title="" src="img/vimeo.svg" alt=""></figure></a></li>
							<li><a href=""><figure><img title="" src="img/instagram.svg" alt=""></figure></a></li>
							<li><a href=""><figure><img title="" src="img/facebook.svg" alt=""></figure></a></li>
							<li><a href=""><figure><img title="" src="img/youtube.svg" alt=""></figure></a></li>
						</ul>
					</div>
				</div>
				<div class="wq-box_3 wq-box_cp-12f wq-box_cl-6 wq-box_tp-6">
					<div class="wq-padding">
						<figure><img title="" src="img/equipe.jpg" alt="" title=""></figure>
					</div>
					<div class="wq-conteudo">
						<h3>Guilherme Borges</h3>
						<p>Diretor</p>
						<ul class="wq-lista-inline wq-midias-sociais">
							<li><a href=""><figure><img title="" src="img/vimeo.svg" alt=""></figure></a></li>
							<li><a href=""><figure><img title="" src="img/instagram.svg" alt=""></figure></a></li>
							<li><a href=""><figure><img title="" src="img/facebook.svg" alt=""></figure></a></li>
							<li><a href=""><figure><img title="" src="img/youtube.svg" alt=""></figure></a></li>
						</ul>
					</div>
				</div>
				<div class="wq-box_3 wq-box_cp-12f wq-box_cl-6 wq-box_tp-6">
					<div class="wq-padding">
						<figure><img title="" src="img/equipe.jpg" alt="" title=""></figure>
					</div>
					<div class="wq-conteudo">
						<h3>Guilherme Borges</h3>
						<p>Diretor</p>
						<ul class="wq-lista-inline wq-midias-sociais">
							<li><a href=""><figure><img title="" src="img/vimeo.svg" alt=""></figure></a></li>
							<li><a href=""><figure><img title="" src="img/instagram.svg" alt=""></figure></a></li>
							<li><a href=""><figure><img title="" src="img/facebook.svg" alt=""></figure></a></li>
							<li><a href=""><figure><img title="" src="img/youtube.svg" alt=""></figure></a></li>
						</ul>	
					</div>
				</div>
				<div class="wq-box_3 wq-box_cp-12f wq-box_cl-6 wq-box_tp-6">
					<div class="wq-padding">
						<figure><img title="" src="img/equipe.jpg" alt="" title=""></figure>
					</div>
					<div class="wq-conteudo">
						<h3>Guilherme Borges</h3>
						<p>Diretor</p>
						<ul class="wq-lista-inline wq-midias-sociais">
							<li><a href=""><figure><img title="" src="img/vimeo.svg" alt=""></figure></a></li>
							<li><a href=""><figure><img title="" src="img/instagram.svg" alt=""></figure></a></li>
							<li><a href=""><figure><img title="" src="img/facebook.svg" alt=""></figure></a></li>
							<li><a href=""><figure><img title="" src="img/youtube.svg" alt=""></figure></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	

	<section class="wq-02-empresa">
		<div class="wq-container">
			<div class="wq-flex">
				<div class="wq-box_4 wq-box_cp-12f wq-box_cl-6 wq-box_tp-6">
					<figure>
						<img title="" src="img/missao.svg" alt="">
					</figure>
					<div class="wq-texto">
						<h2>Missão</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus eligendi eos laudantium, non amet neque doloribus consectetur iusto dolor tempore, laboriosam repellat exercitationem expedita voluptate ducimus saepe! Omnis, voluptas, eius.</p>
					</div>
				</div>
				<div class="wq-box_4 wq-box_cp-12f wq-box_cl-6 wq-box_tp-6">
					<figure>
						<img title="" src="img/visao.svg" alt="">
					</figure>
					<div class="wq-texto">
						<h2>Missão</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum nihil quisquam saepe odio, placeat, quo vel dicta hic consequatur perspiciatis magnam eaque accusantium asperiores rerum fugiat animi iste voluptatem nostrum.</p>
					</div>
				</div>
				<div class="wq-box_4 wq-box_cp-12f wq-box_cl-6 wq-box_tp-6">
					<figure>
						<img title="" src="img/valores.svg" alt="">
					</figure>
					<div class="wq-texto">
						<h2>Missão</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus enim vel quaerat doloribus animi magni dolorem adipisci nam, fuga voluptatem cumque commodi autem sapiente perspiciatis totam temporibus optio doloremque necessitatibus.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	
	<footer class="wq-footer">
			<div class="wq-container">
				<div class="wq-flex">
					<div class="wq-box_5 wq-box_cp-12f wq-box_cl-6f">
						<h2>Entre em contato com a gente.</h2>
					</div>
					<div class="wq-box_6 wq-box_cp-12f wq-box_cl-6f">
						<div class="wq-texto">
							<ul class="wq-midias-sociais wq-lista-inline">
								<li>
									<a href="" target="_blank"><figure><img title="" src="img/vimeo.svg" alt=""></figure></a>
								</li>
								<li>
									<a href="" target="_blank"><figure><img title="" src="img/instagram.svg" alt=""></figure></a>
								</li>
								<li>
									<a href="" target="_blank"><figure><img title="" src="img/facebook.svg" alt=""></figure></a>
								</li>
								<li>
									<a href="" target="_blank"><figure><img title="" src="img/youtube.svg" alt=""></figure></a>
								</li>
							</ul>
						
							<h4>2K Filmes Ltda</h4>
							<p>Av. T-63 nº 1.296 SL 617 Ed. New World Concept Office Setor Bueno - Goiânia/GO</p>
							<p>Tel: (62) 3095-2222 / 3086-2262</p>
							<p><a href="">contato@2kfilmes.com.br</a> / <a href="">atendimento@2kfilmes.com.br</a></p>
						</div>
					</div>
				</div>
			</div>
			<div class="wq-copyright">
				<p>Copyright© 2K Filmes Ltda. Website programado por Espaço ID. Todos os direitos reservados. </p>
			</div>
	</footer>

</body>
</html>