<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>2K Filmes</title>

	<link rel="stylesheet" type="text/css" href="css/webquantica-grid.css">
	<link rel="stylesheet" type="text/css" href="css/lity.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="mobile.css">
	<link rel="stylesheet" href="css/lity.min.css">
	<link rel="stylesheet" href="css/empresa.css">
	
	
	<script src="js/jquery.js"></script>
	<script src="js/webquantica-grid.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/carousel.js"></script>
	<script src="js/lity.min.js"></script>
	<script src="js/efeitos.js"></script>
</head>
	<body>

	<header class="wq-header wq-header_horizontal">
		<div class="wq-header_bottom">
			<div class="wq-container">
				<div class="wq-flex">
					<div class="wq-menu">
						<div class="wq-btn_menu">
							<hr>
							<hr>
							<hr>
						</div>
						<nav class="wq-menu_principal">
							<ul class="wq-lista-inline">
								<li><a href="index.html">Home</a></li>
								<li><a href="empresa.html">Sobre</a></li>
								<li class="active"><a href="servicos.html">O que fazemos</a></li>
								<li><a href="trabalhos.html">trabalhos</a></li>
								<li><a href="contato.html">Contato</a></li>
							</ul>
						</nav>
					</div>
					<ul class="wq-midias-sociais wq-lista-inline">
						<li>
							<a href="" target="_blank"><figure><img title="" src="img/vimeo.svg" alt=""></figure></a>
						</li>
						<li>
							<a href="" target="_blank"><figure><img title="" src="img/instagram.svg" alt=""></figure></a>
						</li>
						<li>
							<a href="" target="_blank"><figure><img title="" src="img/facebook.svg" alt=""></figure></a>
						</li>
						<li>
							<a href="" target="_blank"><figure><img title="" src="img/youtube.svg" alt=""></figure></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</header>

	<section class="wq-breadcrumb">
		<div class="wq-container">
			<h1>O que fazemos</h1>
			<ul>
				<li>Home</li>
				<li><a href="">O que fazemos</a></li>
			</ul>
		</div>
	</section>
	<section class="wq-03">
		<div class="wq-conteudo" style="background-image: url(img/wq-03-01.jpg);">
			<div class="wq-container">
				<div class="wq-flex">
					<figure><img title="" src="img/icon1.svg" alt=""></figure>
					<div class="wq-texto">
						<h3>Captação de Imagem</h3>
						<p>Temos soluções em captação de imagens com equipamentos de ponta para imagens aéreas com drone, câmeras 35mm full frame, lentes, iluminação, gimbal Ronin, wireless follow focus, maquinária completa e profissionais para as mais diferentes produções.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="wq-conteudo" style="background-image: url(img/wq-03-02.jpg);">
			<div class="wq-container">
				<div class="wq-flex">
					<figure><img title="" src="img/icon2.svg" alt=""></figure>
					<div class="wq-texto">
						<h3>MONTAGEM / FINALIZAÇÃO</h3>
						<p>Investimos na finalização, em equipamentos e softwares de montagem e color grading. Usamos o software Da Vinci Resolve, juntamente com a placa Nvidia Quadro. Nossos filmes publicitários e institucionais são finalizados com essa tecnologia.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="wq-conteudo" style="background-image: url(img/wq-03-03.jpg);">
			<div class="wq-container">
				<div class="wq-flex">
					<figure><img title="" src="img/icon3.svg" alt=""></figure>
					<div class="wq-texto">
						<h3>TRANSMISSÃO AO VIVO</h3>
						<p>Oferecemos serviços de transmissões ao vivo de eventos corporativos, shows e eventos em geral para o Facebook e Youtube. Entendemos os processos e conhecemos toda estrutura necessária e tecnologia aplicada para viabilizar cada projeto.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="wq-conteudo" style="background-image: url(img/wq-03-04.jpg);">
			<div class="wq-container">
				<div class="wq-flex">
					<figure><img title="" src="img/icon4.svg" alt=""></figure>
					<div class="wq-texto">
						<h3>MOTION GRAPHICS</h3>
						<p>Produzimos filmes em Motion Graphics que representam talvez a parte mais promissora, versátil e criativa da produção audiovisual atualmente. Apresentamos como diferencial a possibilidade de explicar ideias complexas com facilidade e ainda com custo reduzido em relação a outras opções do audiovisual. </p>
					</div>
				</div>
			</div>
		</div>
		<div class="wq-conteudo" style="background-image: url(img/wq-03-05.jpg);">
			<div class="wq-container">
				<div class="wq-flex">
					<figure><img title="" src="img/icon5.svg" alt=""></figure>
					<div class="wq-texto">
						<h3>MODELAGEM / animaçÃO 3D</h3>
						<p>Produção de filmes em animação, ou mescla com filmagens, ilustração de personagens para diferentes segmentos de comunicação. Com experiência em diversos cases, auxiliamos o cliente, propondo soluções na produção para as mais diferente situações que se pretende divulgar algo de forma criativa e informativa. </p>
					</div>
				</div>
			</div>
		</div>
		<div class="wq-conteudo" style="background-image: url(img/wq-03-06.jpg);">
			<div class="wq-container">
				<div class="wq-flex">
					<figure><img title="" src="img/icon6.svg" alt=""></figure>
					<div class="wq-texto">
						<h3>ÁUDIO</h3>
						<p>Produzimos spot’s para rádio, propaganda volante de alto padrão com vozes exclusivas e interpretações de profissionais que vão desde vozes masculinas, femininas, infantis ou caricatas com trilhas originais ou royalty free.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="wq-conteudo" style="background-image: url(img/wq-03-07.jpg);">
			<div class="wq-container">
				<div class="wq-flex">
					<figure><img title="" src="img/icon7.svg" alt=""></figure>
					<div class="wq-texto">
						<h3>CAMPANHAS POLÍTICAS</h3>
						<p>Com trabalhos desenvolvidos em várias campanhas políticas, a 2K Filmes possui grande experiência em produções políticas de sucesso na tv e internet. Planejamos com inovação e objetivo, equipes, estrutura de operação, sistema de marketing digital e programas de rádio. </p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer class="wq-footer">
			<div class="wq-container">
				<div class="wq-flex">
					<div class="wq-box_5 wq-box_cp-12f wq-box_cl-6f">
						<h2>Entre em contato com a gente.</h2>
					</div>
					<div class="wq-box_6 wq-box_cp-12f wq-box_cl-6f">
						<div class="wq-texto">
							<ul class="wq-midias-sociais wq-lista-inline">
								<li>
									<a href="" target="_blank"><figure><img title="" src="img/vimeo.svg" alt=""></figure></a>
								</li>
								<li>
									<a href="" target="_blank"><figure><img title="" src="img/instagram.svg" alt=""></figure></a>
								</li>
								<li>
									<a href="" target="_blank"><figure><img title="" src="img/facebook.svg" alt=""></figure></a>
								</li>
								<li>
									<a href="" target="_blank"><figure><img title="" src="img/youtube.svg" alt=""></figure></a>
								</li>
							</ul>
						
							<h4>2K Filmes Ltda</h4>
							<p>Av. T-63 nº 1.296 SL 617 Ed. New World Concept Office Setor Bueno - Goiânia/GO</p>
							<p>Tel: (62) 3095-2222 / 3086-2262</p>
							<p><a href="">contato@2kfilmes.com.br</a> / <a href="">atendimento@2kfilmes.com.br</a></p>
						</div>
					</div>
				</div>
			</div>
			<div class="wq-copyright">
				<p>Copyright© 2K Filmes Ltda. Website programado por Espaço ID. Todos os direitos reservados. </p>
			</div>
		</footer>

</body>
</html>