<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>2K Filmes</title>

	<link rel="stylesheet" type="text/css" href="css/webquantica-grid.css">
	<link rel="stylesheet" type="text/css" href="css/lity.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="mobile.css">
	<link rel="stylesheet" href="css/lity.min.css">
	<link rel="stylesheet" href="css/empresa.css">
	
	
	<script src="js/jquery.js"></script>
	<script src="js/webquantica-grid.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/carousel.js"></script>
	<script src="js/lity.min.js"></script>
	<script src="js/efeitos.js"></script>
</head>
	<body>

	<header class="wq-header wq-header_horizontal">
		<div class="wq-header_bottom">
			<div class="wq-container">
				<div class="wq-flex">
					<div class="wq-menu">
						<div class="wq-btn_menu">
							<hr>
							<hr>
							<hr>
						</div>
						<nav class="wq-menu_principal">
							<ul class="wq-lista-inline">
								<li><a href="index.html">Home</a></li>
								<li><a href="empresa.html">Sobre</a></li>
								<li><a href="oque-fazemos.html">O que fazemos</a></li>
								<li class="active"><a href="trabalhos.html">trabalhos</a></li>
								<li><a href="contato.html">Contato</a></li>
							</ul>
						</nav>
					</div>
					<ul class="wq-midias-sociais wq-lista-inline">
						<li>
							<a href="" target="_blank"><figure><img title="" src="img/vimeo.svg" alt=""></figure></a>
						</li>
						<li>
							<a href="" target="_blank"><figure><img title="" src="img/instagram.svg" alt=""></figure></a>
						</li>
						<li>
							<a href="" target="_blank"><figure><img title="" src="img/facebook.svg" alt=""></figure></a>
						</li>
						<li>
							<a href="" target="_blank"><figure><img title="" src="img/youtube.svg" alt=""></figure></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</header>

	<section class="wq-breadcrumb">
		<div class="wq-container">
			<h1>Trabalhos</h1>
			<ul>
				<li>Home</li>
				<li><a href="">Trabalhos</a></li>
			</ul>
		</div>
	</section>
	<section class="wq-05">
		<div class="wq-container">
			<div class="wq-flex">
				<div class="wq-box_4 wq-box_cp-12f wq-box_cl-6f wq-box_tp-6f wq-box_tl-6">
					<div class="wq-img">
						<figure><img title="" src="img/wq-05-1.jpg" alt=""></figure>
						<a data-lity href="www.youtube.com" class="wq-overlay">
							<figure><img title="" src="img/play.svg" alt=""></figure>
						</a>
					</div>
					<div class="wq-texto">
						<h2>Honda Haikar</h2>
						<p>Box Comunicação</p>
					</div>
				</div>
				<div class="wq-box_4 wq-box_cp-12f wq-box_cl-6f wq-box_tp-6f wq-box_tl-6">
					<div class="wq-img">
						<figure><img title="" src="img/wq-05-2.jpg" alt=""></figure>
						<a data-lity href="www.youtube.com" class="wq-overlay">
							<figure><img title="" src="img/play.svg" alt=""></figure>
						</a>
					</div>
					<div class="wq-texto">
						<h2>Saga jeep</h2>
						<p>Pagú Propaganda</p>
					</div>
				</div>
				<div class="wq-box_4 wq-box_cp-12f wq-box_cl-6f wq-box_tp-6f wq-box_tl-6">
					<div class="wq-img">
						<figure><img title="" src="img/wq-05-3.jpg" alt=""></figure>
						<a data-lity href="www.youtube.com" class="wq-overlay">
							<figure><img title="" src="img/play.svg" alt=""></figure>
						</a>
					</div>
					<div class="wq-texto">
						<h2>DETRAN GOIÁS</h2>
						<p>Agência Espaço</p>
					</div>
				</div>
				<div class="wq-box_4 wq-box_cp-12f wq-box_cl-6f wq-box_tp-6f wq-box_tl-6">
					<div class="wq-img">
						<figure><img title="" src="img/wq-05-4.jpg" alt=""></figure>
						<a data-lity href="www.youtube.com" class="wq-overlay">
							<figure><img title="" src="img/play.svg" alt=""></figure>
						</a>
					</div>
					<div class="wq-texto">
						<h2>GRUPO LÍRIOS</h2>
						<p>Livre Iniciativa</p>
					</div>
				</div>
				<div class="wq-box_4 wq-box_cp-12f wq-box_cl-6f wq-box_tp-6f wq-box_tl-6">
					<div class="wq-img">
						<figure><img title="" src="img/wq-05-5.jpg" alt=""></figure>
						<a data-lity href="www.youtube.com" class="wq-overlay">
							<figure><img title="" src="img/play.svg" alt=""></figure>
						</a>
					</div>
					<div class="wq-texto">
						<h2>DETRAN</h2>
						<p>Agência Espaço</p>
					</div>
				</div>
				<div class="wq-box_4 wq-box_cp-12f wq-box_cl-6f wq-box_tp-6f wq-box_tl-6">
					<div class="wq-img">
						<figure><img title="" src="img/wq-05-6.jpg" alt=""></figure>
						<a data-lity href="www.youtube.com" class="wq-overlay">
							<figure><img title="" src="img/play.svg" alt=""></figure>
						</a>
					</div>
					<div class="wq-texto">
						<h2>POLYÈLLE</h2>
						<p>Box Comunicação</p>
					</div>
				</div>
				<div class="wq-box_4 wq-box_cp-12f wq-box_cl-6f wq-box_tp-6f wq-box_tl-6">
					<div class="wq-img">
						<figure><img title="" src="img/wq-05-7.jpg" alt=""></figure>
						<a data-lity href="www.youtube.com" class="wq-overlay">
							<figure><img title="" src="img/play.svg" alt=""></figure>
						</a>
					</div>
					<div class="wq-texto">
						<h2>BOOK TRAILER</h2>
						<p>Propaganda Desigual</p>
					</div>
				</div>
				<div class="wq-box_4 wq-box_cp-12f wq-box_cl-6f wq-box_tp-6f wq-box_tl-6">
					<div class="wq-img">
						<figure><img title="" src="img/wq-05-8.jpg" alt=""></figure>
						<a data-lity href="www.youtube.com" class="wq-overlay">
							<figure><img title="" src="img/play.svg" alt=""></figure>
						</a>
					</div>
					<div class="wq-texto">
						<h2>FR CONSTRUTORA</h2>
						<p>Pagú Propaganda</p>
					</div>
				</div>
				<div class="wq-box_4 wq-box_cp-12f wq-box_cl-6f wq-box_tp-6f wq-box_tl-6">
					<div class="wq-img">
						<figure><img title="" src="img/wq-05-9.jpg" alt=""></figure>
						<a data-lity href="www.youtube.com" class="wq-overlay">
							<figure><img title="" src="img/play.svg" alt=""></figure>
						</a>
					</div>
					<div class="wq-texto">
						<h2>busca da cidade</h2>
						<p>Logos Publicidade</p>
					</div>
				</div>
				<div class="wq-box_4 wq-box_cp-12f wq-box_cl-6f wq-box_tp-6f wq-box_tl-6">
					<div class="wq-img">
						<figure><img title="" src="img/wq-05-10.jpg" alt=""></figure>
						<a data-lity href="www.youtube.com" class="wq-overlay">
							<figure><img title="" src="img/play.svg" alt=""></figure>
						</a>
					</div>
					<div class="wq-texto">
						<h2>EBM</h2>
						<p>AMP Propaganda</p>
					</div>
				</div>
				<div class="wq-box_4 wq-box_cp-12f wq-box_cl-6f wq-box_tp-6f wq-box_tl-6">
					<div class="wq-img">
						<figure><img title="" src="img/wq-05-11.jpg" alt=""></figure>
						<a data-lity href="www.youtube.com" class="wq-overlay">
							<figure><img title="" src="img/play.svg" alt=""></figure>
						</a>
					</div>
					<div class="wq-texto">
						<h2>SIC CATALÃO</h2>
						<p>Logos Publicidade</p>
					</div>
				</div>
				<div class="wq-box_4 wq-box_cp-12f wq-box_cl-6f wq-box_tp-6f wq-box_tl-6">
					<div class="wq-img">
						<figure><img title="" src="img/wq-05-12.jpg" alt=""></figure>
						<a data-lity href="www.youtube.com" class="wq-overlay">
							<figure><img title="" src="img/play.svg" alt=""></figure>
						</a>
					</div>
					<div class="wq-texto">
						<h2>REDE DA CONSTRUÇÃO</h2>
						<p>Divã Comunicação</p>
					</div>
				</div>
				<div class="wq-box_4 wq-box_cp-12f wq-box_cl-6f wq-box_tp-6f wq-box_tl-6">
					<div class="wq-img">
						<figure><img title="" src="img/wq-05-13.jpg" alt=""></figure>
						<a data-lity href="www.youtube.com" class="wq-overlay">
							<figure><img title="" src="img/play.svg" alt=""></figure>
						</a>
					</div>
					<div class="wq-texto">
						<h2>DETRAN</h2>
						<p>Agência Espaço</p>
					</div>
				</div>
				<div class="wq-box_4 wq-box_cp-12f wq-box_cl-6f wq-box_tp-6f wq-box_tl-6">
					<div class="wq-img">
						<figure><img title="" src="img/wq-05-14.jpg" alt=""></figure>
						<a data-lity href="www.youtube.com" class="wq-overlay">
							<figure><img title="" src="img/play.svg" alt=""></figure>
						</a>
					</div>
					<div class="wq-texto">
						<h2>Saga HYUNDAI</h2>
						<p>Pagú Propaganda</p>
					</div>
				</div>
				<div class="wq-box_4 wq-box_cp-12f wq-box_cl-6f wq-box_tp-6f wq-box_tl-6">
					<div class="wq-img">
						<figure><img title="" src="img/wq-05-15.jpg" alt=""></figure>
						<a data-lity href="www.youtube.com" class="wq-overlay">
							<figure><img title="" src="img/play.svg" alt=""></figure>
						</a>
					</div>
					<div class="wq-texto">
						<h2>grupo saga</h2>
						<p>Pagú Propaganda</p>
					</div>
				</div>
				<div class="wq-box_4 wq-box_cp-12f wq-box_cl-6f wq-box_tp-6f wq-box_tl-6">
					<div class="wq-img">
						<figure><img title="" src="img/wq-05-16.jpg" alt=""></figure>
						<a data-lity href="www.youtube.com" class="wq-overlay">
							<figure><img title="" src="img/play.svg" alt=""></figure>
						</a>
					</div>
					<div class="wq-texto">
						<h2>TRIUNFO / CONCEBRA</h2>
						<p>AMP Propaganda</p>
					</div>
				</div>
				<div class="wq-box_4 wq-box_cp-12f wq-box_cl-6f wq-box_tp-6f wq-box_tl-6">
					<div class="wq-img">
						<figure><img title="" src="img/wq-05-17.jpg" alt=""></figure>
						<a data-lity href="www.youtube.com" class="wq-overlay">
							<figure><img title="" src="img/play.svg" alt=""></figure>
						</a>
					</div>
					<div class="wq-texto">
						<h2>Saga france</h2>
						<p>Pagú Propaganda</p>
					</div>
				</div>
				<div class="wq-box_4 wq-box_cp-12f wq-box_cl-6f wq-box_tp-6f wq-box_tl-6">
					<div class="wq-img">
						<figure><img title="" src="img/wq-05-18.jpg" alt=""></figure>
						<a data-lity href="www.youtube.com" class="wq-overlay">
							<figure><img title="" src="img/play.svg" alt=""></figure>
						</a>
					</div>
					<div class="wq-texto">
						<h2>CMO</h2>
						<p>Box Comunicação</p>
					</div>
				</div>
				<div class="wq-box_4 wq-box_cp-12f wq-box_cl-6f wq-box_tp-6f wq-box_tl-6">
					<div class="wq-img">
						<figure><img title="" src="img/wq-05-18.jpg" alt=""></figure>
						<a data-lity href="www.youtube.com" class="wq-overlay">
							<figure><img title="" src="img/play.svg" alt=""></figure>
						</a>
					</div>
					<div class="wq-texto">
						<h2>CMO</h2>
						<p>Box Comunicação</p>
					</div>
				</div>
				<div class="wq-box_4 wq-box_cp-12f wq-box_cl-6f wq-box_tp-6f wq-box_tl-6">
					<div class="wq-img">
						<figure><img title="" src="img/wq-05-18.jpg" alt=""></figure>
						<a data-lity href="www.youtube.com" class="wq-overlay">
							<figure><img title="" src="img/play.svg" alt=""></figure>
						</a>
					</div>
					<div class="wq-texto">
						<h2>CMO</h2>
						<p>Box Comunicação</p>
					</div>
				</div>
				<div class="wq-box_4 wq-box_cp-12f wq-box_cl-6f wq-box_tp-6f wq-box_tl-6">
					<div class="wq-img">
						<figure><img title="" src="img/wq-05-18.jpg" alt=""></figure>
						<a data-lity href="www.youtube.com" class="wq-overlay">
							<figure><img title="" src="img/play.svg" alt=""></figure>
						</a>
					</div>
					<div class="wq-texto">
						<h2>CMO</h2>
						<p>Box Comunicação</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer class="wq-footer">
			<div class="wq-container">
				<div class="wq-flex">
					<div class="wq-box_5 wq-box_cp-12f wq-box_cl-6f">
						<h2>Entre em contato com a gente.</h2>
					</div>
					<div class="wq-box_6 wq-box_cp-12f wq-box_cl-6f">
						<div class="wq-texto">
							<ul class="wq-midias-sociais wq-lista-inline">
								<li>
									<a href="" target="_blank"><figure><img title="" src="img/vimeo.svg" alt=""></figure></a>
								</li>
								<li>
									<a href="" target="_blank"><figure><img title="" src="img/instagram.svg" alt=""></figure></a>
								</li>
								<li>
									<a href="" target="_blank"><figure><img title="" src="img/facebook.svg" alt=""></figure></a>
								</li>
								<li>
									<a href="" target="_blank"><figure><img title="" src="img/youtube.svg" alt=""></figure></a>
								</li>
							</ul>
						
							<h4>2K Filmes Ltda</h4>
							<p>Av. T-63 nº 1.296 SL 617 Ed. New World Concept Office Setor Bueno - Goiânia/GO</p>
							<p>Tel: (62) 3095-2222 / 3086-2262</p>
							<p><a href="">contato@2kfilmes.com.br</a> / <a href="">atendimento@2kfilmes.com.br</a></p>
						</div>
					</div>
				</div>
			</div>
			<div class="wq-copyright">
				<p>Copyright© 2K Filmes Ltda. Website programado por Espaço ID. Todos os direitos reservados. </p>
			</div>
		</footer>
	</body>
</html>